<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="olimps-container">
        <h1>Олимпиады</h1>
        
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>